services:
  postgres:
    image: postgres:15
    container_name: kasparro_postgres
    env_file:
      - .env
      
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  api:
    build: .
    container_name: kasparro_api
    depends_on:
      - postgres
    env_file:
      - .env
    ports:
      - "8000:8000"

volumes:
  pg_data:
