name: Backend CI/CD

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Create temporary .env for testing
        run: |
          echo "POSTGRES_USER=kasparro" >> .env
          echo "POSTGRES_PASSWORD=kasparro" >> .env
          echo "POSTGRES_DB=kasparro_db" >> .env
          echo "DATABASE_URL=postgresql://kasparro:kasparro@postgres:5432/kasparro_db" >> .env

      - name: Build Docker images
        run: docker compose build

      - name: Run tests
        run: docker compose run --rm api pytest

  deploy:
    needs: test
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ubuntu/project_k
            git pull origin main
            